body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #8b6fac;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #514163;
}

.link {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #5045eb;
}

.dashboard {
  width: 400px;
  margin: 80px auto;
  text-align: center;
}

.dashboard button {
  margin-top: 10px;
}
.error-text {
  color: #dc3545 !important;
  font-size: 14px;
  margin-top: 4px;
}

